body {
    background-color: beige;
}

li {
    cursor: pointer;
}
table.detail{
}
td.detail {
    border: 1px solid black;
    display: inline-block;
    max-height: 150px;
    overflow: scroll;

}

td.detailHeading {
    text-align: center;
}